
    <!-- Pricing -->
    <div id="pricing" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Tabla de Costos</h2>
                </div>
                <!-- /Section header -->

                <!-- pricing -->
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">Plan Basico</span>
                            <div class="price">
                                <h3>$9<span class="duration">/ month</span></h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>1GB Disk Space</p>
                            </li>
                            <li>
                                <p>100 Email Account</p>
                            </li>
                            <li>
                                <p>Soporte 24/7</p>
                            </li>
                        </ul>
                        <div class="price-btn">
                            <!-- <button class="outline-btn">Purchase now</button>-->
                        </div>
                    </div>
                </div>
                <!-- /pricing -->

                <!-- pricing -->
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">Plan Silver</span>
                            <div class="price">
                                <h3>$19<span class="duration">/ month</span></h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>1GB Disk Space</p>
                            </li>
                            <li>
                                <p>100 Email Account</p>
                            </li>
                            <li>
                                <p>Soporte 24/7</p>
                            </li>
                        </ul>
                        <div class="price-btn">
                            <!-- <button class="outline-btn">Purchase now</button>-->
                        </div>
                    </div>
                </div>
                <!-- /pricing -->

                <!-- pricing -->
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">Plan Gold</span>
                            <div class="price">
                                <h3>$39<span class="duration">/ month</span></h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>1GB Disk Space</p>
                            </li>
                            <li>
                                <p>100 Email Account</p>
                            </li>
                            <li>
                                <p>Soporte 24/7</p>
                            </li>
                        </ul>
                        <div class="price-btn">
                            <!-- <button class="outline-btn">Purchase now</button>-->
                        </div>
                    </div>
                </div>
                <!-- /pricing -->

            </div>
            <!-- Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Pricing -->