{% load static %}
    <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="{% url 'home' %}">
                            <img class="logo" src="{% static 'img/logo.png' %}" alt="logo"> 
                            <img class="logo-alt" src="{% static 'img/logo-alt.png' %}" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    
                    <li><a href="#portfolio">Productos</a></li>
                    <li><a href="#about">Acerca</a></li>
                    <li><a href="#service">Servicios</a></li>
                    <li><a href="#pricing">Costes</a></li>
                    <li><a href="#team">Equipo</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
                <!-- /Main navigation -->

            </div>
        </nav>
        <!-- /Nav -->