{% load static %}
    <!-- Service -->
    <div id="service" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Que Ofrecemos</h2>
                </div>
                <!-- /Section header -->

                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-diamond"></i>
                        <h3>Tecnologia IOT</h3>
                        <p>El internet de las cosas al alcance de tus manos</p>
                    </div>
                </div>
                <!-- /service -->

                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-rocket"></i>
                        <h3>Hardware</h3>
                        <p>Te ofrecemos los equipos para que te conectes al sistema IOT.</p>
                    </div>
                </div>
                <!-- /service -->

                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-cogs"></i>
                        <h3>Instalacion</h3>
                        <p>Instalamos los equipos del sistema TADERUS.</p>
                    </div>
                </div>
                <!-- /service -->

                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-diamond"></i>
                        <h3>Monitorizacion</h3>
                        <p>Monitoreo y graficas de tus cultivos.</p>
                    </div>
                </div>
                <!-- /service -->

                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-pencil"></i>
                        <h3>Soporte increible</h3>
                        <p>Soporte profecional con calidad humana.</p>
                    </div>
                </div>
                <!-- /service -->

                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-flask"></i>
                        <h3>Desarrollo Pesonalizado</h3>
                        <p>Nos adaptamos a tus requerimientos y necesidades.</p>
                    </div>
                </div>
                <!-- /service -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Service -->

    <!-- Why Choose Us -->
    <div id="features" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- why choose us content -->
                <div class="col-md-6">
                    <div class="section-header">
                        <h2 class="title">Porque elegirnos</h2>
                    </div>
                    <p>Con la plataforma TADERUS podras tener control de tus cultivos con tan solo apretar un boton desde cualquier dispositivo.</p>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Ahorra hasta un 25% de agua.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Monitorizacion de temperatura y humedades del suelo.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Reduccion de costos en mantenimientos.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>El sistema esta diseñado para ser Eco Amigable.</p>
                    </div>
                </div>
                <!-- /why choose us content -->

                <!-- About slider -->
                <div class="col-md-6">
                    <div id="about-slider" class="owl-carousel owl-theme">
                        <img class="img-responsive" src="{% static 'img/work1.png' %}" alt="">  
                        <img class="img-responsive" src="{% static 'img/work2.png' %}" alt="">
                        <img class="img-responsive" src="{% static 'img/work3.png' %}" alt="">
                        <img class="img-responsive" src="{% static 'img/work4.png' %}" alt="">
                        <img class="img-responsive" src="{% static 'img/work5.png' %}" alt="">
                        <img class="img-responsive" src="{% static 'img/work6.png' %}" alt="">
                        <img class="img-responsive" src="{% static 'img/work7.png' %}" alt="">

                    </div>
                </div>
                <!-- /About slider -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Why Choose Us -->