{% extends "base.html" %}
{% load static %}

{% block content %}

	<!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('{% static 'img/background.jpg' %}');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->

        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Bienvenido</h1>
                            <p class="white-text">TADERUS - El sistema de Riego Inteligente.
							</p>
                            <input type="button" class="main-btn" onclick="location.href='https://taderus.net/login/';" value="Ingresar" />
                            <!--<input type="button" class="white-btn" onclick="location.href='https://taderus.net/login/';" value="Saber mas" />-->
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->

{% include "home/portafolio.html" %}

{% include "home/about.html" %}
    
{% include "home/services.html" %}
    
{% include "home/costes.html" %}

{% include "home/equipo.html" %}

{% include "home/contact.html" %}



    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Preloader -->

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

